# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# React Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.hprof
.cxx/
*.keystore
!debug.keystore

# Metro
.metro-health-check*

# Android/iOS
.kotlin/
ios/Pods/
android/.gradle/
android/app/build/
android/build/

# Testing
coverage/

# TypeScript
*.tsbuildinfo
